@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}
section::before{ 
    content: "";
    position: absolute;
    background: url('ff.jpg') no-repeat center center/cover;
    height: 500px;
    top:0px;
    left:0px;
    width: 100%;
    z-index: -1;
    opacity:0.89;
    height:880px;
    background-size:cover;
}

.form-box{
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
  

}
h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}
.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}
.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
top: -5px;
}
.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: #fff;
}


#buton{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

/* Add canteen  */
#canten{
    position: relative;
    margin-top: 0px;
    z-index :1;
    
    
    
}
#canten::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 870px;
    z-index: -1;
     /* opacity: 0.8;  */
    background: url('update.jpg') no-repeat center center/cover;
}
#canten-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#canten-box input, 
#canten-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
} 

#canten-box form{
    width: 40%;
}

#canten-box label{
   font-size: 1.3rem;
   font-family: 'Bree Serif', serif;

}
#canten h1{
  padding:50px;
}

footer{
    background: black;
    color: white;
    padding: 9px 20px;
    margin-bottom: 0px;
}

#canten-box form{
  width:80%;
}


